{% load static %}
<link rel="stylesheet" href="{% static 'DocApp/css/bg.css' %}">


<nav class="navigation navbar-expand-lg navbar-dark fw-bold p-2">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          {% if user.is_authenticated is False %}

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}"><i class="bi bi-house-fill"></i></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'alldoc' %}">Doctors</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'tips' %}">Health Tips</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Patient Registration</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'aboutus' %}">About Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'adminlogin' %}">Receptionist Login</a>
          </li>

          {% else %}

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-circle"></i></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'myapp' %}">My Appointments</a></li>
            <li><a class="dropdown-item" href="{% url 'mybill' %}">My Bills</a></li>
          </ul>
        </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'alldoc' %}">All Doctors</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'tips' %}">Health Tips</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'appoint' %}">Book Appointment</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'aboutus' %}">About Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'signout' %}">Logout</a>
          </li>

          {% endif %}

        </ul>
        
      </div>
    </div>
  </nav>
