{% extends 'DocApp/base.html' %}

{% load static %}

{% block css %}
{% endblock css %}

{% block js %}
{% endblock js %}

{% block title %}
<title>tips page</title>
{% endblock title %}

{% block body %}
<div class="container p-5">
    <div class="heading rounded-3">
        <h1 class="ms-5 p-2 display-5">Tips</h1>
      </div>

    <div class="p-3">
        <div class="row bg-light my-3 p-3 rounded-3 shadow">
            <div class="text-center col-4">
                <img src="{% static 'DocApp/Images/diet.jpg' %}" alt="" height="200px" width="200px">
            </div>
            <div class="col-8">
                <dl>
                    <dt>1.Eat a healthy diet</dt>
                    <dd>Eat a combination of different foods, including fruit, vegetables, legumes, nuts and whole
                        grains. Adults should eat at least five portions (400g) of fruit and vegetables per day. You can
                        improve your intake of fruits and vegetables by always including veggies in your meal; eating
                        fresh fruit and vegetables as snacks; eating a variety of fruits and vegetables; and eating them
                        in season. By eating healthy, you will reduce your risk of malnutrition and noncommunicable
                        diseases (NCDs) such as diabetes, heart disease, stroke and cancer.</dd>
                </dl>
            </div>
        </div>
        <div class="row bg-light my-3 p-3 rounded-3 shadow">
            <div class="col-8">
                <dl>
                    <dt>2.Consume less salt and sugar</dt>
                    <dd>Filipinos consume twice the recommended amount of sodium, putting them at risk of high blood
                        pressure, which in turn increases the risk of heart disease and stroke. Most people get their
                        sodium through salt. Reduce your salt intake to 5g per day, equivalent to about one teaspoon.
                        It’s easier to do this by limiting the amount of salt, soy sauce, fish sauce and other
                        high-sodium condiments when preparing meals; removing salt, seasonings and condiments from your
                        meal table; avoiding salty snacks; and choosing low-sodium products.</dd>
                </dl>
            </div>
            <div class="text-center col-4">
                <img src="{% static 'DocApp/Images/saltsugar.jpg' %}" alt="" height="200px" width="200px">
            </div>
        </div>
        <div class="row bg-light my-3 p-3 rounded-3 shadow">
            <div class="text-center col-4">
                <img src="{% static 'DocApp/Images/antibiotic.jpg' %}" alt="" height="200px" width="200px">
            </div>
            <div class="col-8">
                <dl>
                    <dt>3.Take antibiotics only as prescribed</dt>
                    <dd>Antibiotic resistance is one of the biggest public health threats in our generation. When
                        antibiotics lose their power, bacterial infections become harder to treat, leading to higher
                        medical costs, prolonged hospital stays, and increased mortality. Antibiotics are losing their
                        power because of misuse and overuse in humans and animals. Make sure you only take antibiotics
                        if prescribed by a qualified health professional. And once prescribed, complete the treatment
                        days as instructed. Never share antibiotics.</dd>
                </dl>
            </div>
        </div>
        <div class="row bg-light my-3 p-3 rounded-3 shadow">
            <div class="col-8">
                <dl>
                    <dt>4.Avoid harmful use of alcohol</dt>
                    <dd>There is no safe level for drinking alcohol. Consuming alcohol can lead to health problems such
                        as mental and behavioural disorders, including alcohol dependence, major NCDs such as liver
                        cirrhosis, some cancers and heart diseases, as well as injuries resulting from violence and road
                        clashes and collisions.</dd>
                </dl>
            </div>
            <div class="text-center col-4">
                <img src="{% static 'DocApp/Images/alcohol.jpg' %}" alt="" height="200px" width="200px">
            </div>
        </div>
        <div class="row bg-light my-3 p-3 rounded-3 shadow">
            <div class="text-center col-4">
                <img src="{% static 'DocApp/Images/smoke.jpg' %}" alt="" height="200px" width="200px">
            </div>
            <div class="col-8">
                <dl>
                    <dt>5.Don't smoke</dt>
                    <dd>Smoking tobacco causes NCDs such as lung disease, heart disease and stroke. Tobacco kills not
                        only the direct smokers but even non-smokers through second-hand exposure. Currently, there are
                        around 15.9 million Filipino adults who smoke tobacco but 7 in 10 smokers are interested or plan
                        to quit.
                        If you are currently a smoker, it’s not too late to quit. Once you do, you will experience
                        immediate and long-term health benefits. If you are not a smoker, that’s great! Do not start
                        smoking and fight for your right to breathe tobacco-smoke-free air.</dd>
                </dl>
            </div>
        </div>
        <div class="row bg-light my-3 p-3 rounded-3 shadow">
            <div class="col-8">
                <dl>
                    <dt>6.Be active</dt>
                    <dd>Physical activity is defined as any bodily movement produced by skeletal muscles that requires
                        energy expenditure. This includes exercise and activities undertaken while working, playing,
                        carrying out household chores, travelling, and engaging in recreational pursuits. The amount of
                        physical activity you need depends on your age group but adults aged 18-64 years should do at
                        least 150 minutes of moderate-intensity physical activity throughout the week. Increase
                        moderate-intensity physical activity to 300 minutes per week for additional health benefits.
                    </dd>
                </dl>
            </div>
            <div class="text-center col-4">
                <img src="{% static 'DocApp/Images/active.jpg' %}" alt="" height="200px" width="200px">
            </div>
        </div>
        <div class="row bg-light my-3 p-3 rounded-3 shadow">
            <div class="text-center col-4">
                <img src="{% static 'DocApp/Images/bp.jpg' %}" alt="" height="200px" width="200px">
            </div>
            <div class="col-8">
                <dl>
                    <dt>7.Check your blood pressure regularly</dt>
                    <dd>Hypertension, or high blood pressure, is called a “silent killer”. This is because many people
                        who have hypertension may not be aware of the problem as it may not have any symptoms. If left
                        uncontrolled, hypertension can lead to heart, brain, kidney and other diseases. Have your blood
                        pressure checked regularly by a health worker so you know your numbers. If your blood pressure
                        is high, get the advice of a health worker. This is vital in the prevention and control of
                        hypertension.</dd>
                </dl>
            </div>
        </div>
        <div class="row bg-light my-3 p-3 rounded-3 shadow">
            <div class="col-8">
                <dl>
                    <dt>8.Prevent mosquito bites</dt>
                    <dd>Mosquitoes are one of the deadliest animals in the world. Diseases like dengue, chikungunya,
                        malaria and lymphatic filariasis are transmitted by mosquitoes and continue to affect Filipinos.
                        You can take simple measures to protect yourself and your loved ones against mosquito-borne
                        diseases. If you’re traveling to an area with known mosquito-borne diseases, consult a physician
                        for a vaccine to prevent diseases such as Japanese encephalitis and yellow fever or if you need
                        to take antimalarial medicines. Wear light-coloured, long-sleeved shirts and pants and use
                        insect repellent. At home, use window and door screens, use bed nets and clean your surroundings
                        weekly to destroy mosquito breeding sites.</dd>
                </dl>
            </div>
            <div class="text-center col-4">
                <img src="{% static 'DocApp/Images/mosquito.jpg' %}" alt="" height="200px" width="200px">
            </div>
        </div>
        <div class="row bg-light my-3 p-3 rounded-3 shadow">
            <div class="text-center col-4">
                <img src="{% static 'DocApp/Images/water.jpg' %}" alt="" height="200px" width="200px">
            </div>
            <div class="col-8">
                <dl>
                    <dt>9.Drink only safe water</dt>
                    <dd>Drinking unsafe water can lead to water-borne diseases such as cholera, diarrhoea, hepatitis A,
                        typhoid and polio. Globally, at least 2 billion people use a drinking water source contaminated
                        with faeces. Check with your water concessionaire and water refilling station to ensure that the
                        water you’re drinking is safe. In a setting where you are unsure of your water source, boil your
                        water for at least one minute. This will destroy harmful organisms in the water. Let it cool
                        naturally before drinking.</dd>
                </dl>
            </div>
        </div>
        <div class="row bg-light my-3 p-3 rounded-3 shadow">
            <div class="col-8">
                <dl>
                    <dt>10.Talk to someone you trust if you're feeling down</dt>
                    <dd>Depression is a common illness worldwide with over 260 million people affected. Depression can
                        manifest in different ways, but it might make you feel hopeless or worthless, or you might think
                        about negative and disturbing thoughts a lot or have an overwhelming sense of pain. If you’re
                        going through this, remember that you are not alone. Talk to someone you trust such as a family
                        member, friend, colleague or mental health professional about how you feel.</dd>
                </dl>
            </div>
            <div class="text-center col-4">
                <img src="{% static 'DocApp/Images/bff.jpg' %}" alt="" height="200px" width="200px">
            </div>
        </div>
    </div>
</div>
{% endblock body %}